<div class="container text-center px-5 py-5">
  <input type="search" name="search" id="search" placeholder="serach catalog" />
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        >Filter By
      </a>
      <div class="collapse" id="collapseExample">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div>concepts</div>
    </div>
    <div class="col-lg-6"><app-card></app-card></div>
  </div>
</div>
