<!--
  <div class="card-header pull-left">
        <img  class="card-img-bottom media-left" sizes="(min-width: 300px) 100vw, 660px" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
  </div>
-->

<br />
<br />

<div class="container p-3">
  <div class="row">
    <div class="col-12 col-lg-4 mb-5">
      <div class="image-flip">
        <div class="mainflip">
          <div class="frontside">
            <div class="card">
              <img
                class="card-img card-img-top img-fluid"
                src="https://placeimg.com/320/200/any?t=1526072439387"
                alt="Card image"/>

              <div class="card-body">
                <h5 class="card-title justify-center">
                  Java - A complete developers guide
                </h5>
                <a class="card-text"
                  >This is a wider card with supporting text below as a natural
                  lead-in to additional content</a
                >
                <p class="card-text">Creaters name</p>
                <a href="#" class="btn btn-info btn-md">Enroll Now</a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-header">This is a Header</div>
              <div class="card-body">
                <!-- <h4 class="card-title">Card Title</h4> -->
                <p class="card-text">
                  This is a card component with header and footer.
                </p>
                <p>Batch <span>13-11-108 to 15-12-1018</span></p>
                <a href="#" class="btn btn-info btn-md">View All Batches</a>
              </div>
              <div class="card-footer">This is a Footer</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
